.base{
    -fx-background-image: url("file:/D:/General/Learning/Technik/5_Semestr/TRPZ/Office_Communicator/Client/src/main/resources/org/example/client/Magic/Photos/ClientMenuBackground.png");
    -fx-background-size: 600 400;
}

.scrollPane{
    -fx-background-color: transparent;
}

.scrollPane .viewport{
    -fx-background-color: transparent;
}

.scrollPane .scroll-bar:vertical {
    -fx-background-color:
            linear-gradient(to bottom, #2ecc71, #27ae60),
            radial-gradient(center 50% -40%, radius 200%, #85c1a1, #27ae60);
}

.scrollPane .scroll-bar:vertical .thumb{
    -fx-background-color: #f1ebeb;
}


.menuElement{
    -fx-background-color:
            linear-gradient(to bottom, #2ecc71, #27ae60),
            radial-gradient(center 50% -40%, radius 200%, #85c1a1, #27ae60);
    -fx-padding: 5px 10px 5px 10px;
}

.menuElement:hover {
    -fx-background-color:
            linear-gradient(to bottom, #28b463, #239b56),
            radial-gradient(center 50% -40%, radius 200%, #5ca380, #239b56);
}


.menuElement .avatar{
    -fx-background-color: #ccc;
    -fx-background-radius: 50%;
    -fx-min-width: 25;
    -fx-min-height: 25;
}

.menuElement .name{
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
}

.menuElement .newMessagesCount {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-padding: 3 8;
    -fx-border-radius: 5;
}


.button {
    -fx-background-color:
            linear-gradient(to bottom, #2ecc71, #27ae60),
            radial-gradient(center 50% -40%, radius 200%, #85c1a1, #27ae60);

    -fx-background-insets: 0, 1;
    -fx-background-radius: 5, 4;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);

    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color:
            linear-gradient(to bottom, #28b463, #239b56),
            radial-gradient(center 50% -40%, radius 200%, #5ca380, #239b56);
}

.button:pressed {
    -fx-background-color:
            linear-gradient(to bottom, #27ae60, #218f54),
            radial-gradient(center 50% -40%, radius 200%, #4d8c77, #218f54);
}