.ownMessage {
    -fx-background-color: lightblue;
    -fx-padding: 25px;
}

.otherMessage {
    -fx-background-color: lightgreen;
    -fx-padding: 5px;
}

.message{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 15;
}